<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>New Post Form</title>
	<div th:replace="forum/head :: head"></div>
</head>

<body>

	<div th:replace="forum/navbar :: navbar"></div>

	<div class="container h-100" th:object="${comment}">
		<div class="row justify-content-center h-100 align-items-center">
			<div class="col-md-6">
				<div class="card" style="margin-top: 9rem;">
					<div class="card-header">Edit Comment</div>
					<div class="card-body">
						<form method="post" action="#" th:action="@{/forum/post/comment/{id}/save(id = ${commentId})}" >

							<div class="form-group mb-3">
								<label for="content">Content</label>
								<textarea id="content" name="content" th:field="*{content}" required></textarea>
								<input type="hidden" th:name="postId" th:value="${comment.post.id}">
							</div>
							<button type="submit" class="btn btn-primary">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="forum/scripts :: scripts"></div>

</body>

</html>